<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.qs.dao.BookMapper">

    <!--  添加在数据库中不存在的书籍  -->
    <insert id="addBook" parameterType="entity.Book">
        INSERT INTO t_book(ISBN,
                           bookName,
                           introduction,
                           totalCount,
                           intime,
                           price,
                           createId,
                           isDel,
                           modifyId,
                           modifyTime,
                           currentCount)
        VALUES (#{ISBN},
                #{bookName},
                #{introduction},
                #{totalCount},
                #{intime},
                #{price},
                #{createId},
                #{isDel},
                #{modifyId},
                #{modifyTime},
                #{currentCount})
    </insert>

    <!--  根据ISBN获取书籍的数据库id  -->
    <select id="getBookId">
        SELECT id
        FROM t_book
        WHERE ISBN = #{ISBN}
    </select>

    <!--  对数据库中书籍数目做减小操作  -->
    <update id="bookOut">
        UPDATE t_book
        SET totalCount = totalCount - #{count}
            AND currentCount = currentCount - #{count}
        WHERE id = #{id}
    </update>

    <!--  对数据库中书籍做增加操作  -->
    <update id="bookIn">
        UPDATE t_book
        SET totalCount = totalCount + #{count}
            AND currentCount = currentCount + #{count}
        WHERE id = #{id}
    </update>

    <!--  判断当前书籍是否可用  -->
    <select id="getBookIsDel">
        SELECT isDel
        FROM t_book
        WHERE id = #{id}
    </select>

    <!--  存入修改时间和修改人  -->
    <update id="updateTimeAndPerson">
        UPDATE t_book
        SET modifyId = #{id}, modifyTime = #{modifyTime}
        WHERE id = #{id}
    </update>

</mapper>