<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.qs.dao.BookDao">

    <!--  添加不存在的书籍  -->
    <insert id="addBook" parameterType="entity.Book">
        INSERT INTO t_book(ISBN,
                           bookName,
                           introduction,
                           totalCount,
                           intime,
                           price,
                           createId,
                           isDel,
                           modifyId,
                           modifyTime,
                           currentCount)
        VALUES (#{ISBN},
                #{bookName},
                #{introduction},
                #{totalCount},
                #{intime},
                #{price},
                #{createId},
                #{isDel},
                #{modifyId},
                #{modifyTime},
                #{currentCount})
    </insert>

    <!--  添加已存在的书的库存  -->
<!--    <update id="addExistedBooks">-->
<!--        UPDATE t_book-->
<!--        SET totalCount = totalCount + #{count}-->
<!--        AND currentCount = currentCount + #{count}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

    <!--  根据ISBN获取书籍的数据库id  -->
    <select id="getBookId">
        SELECT id
        FROM t_book
        WHERE ISBN = #{ISBN}
    </select>

    <!--  对数据库中书籍数目做减小操作  -->
    <update id="bookOut">
        UPDATE t_book
        SET totalCount = totalCount - #{count}
            AND currentCount = currentCount - #{count}
        WHERE id = #{id}
    </update>

    <!--  对数据库中书籍做增加操作  -->
    <update id="bookIn">
        UPDATE t_book
        SET totalCount = totalCount + #{count}
            AND currentCount = currentCount + #{count}
        WHERE id = #{id}
    </update>

    <!--  借阅书籍  -->
    <update id="id_bookIn">
        UPDATE t_borrowlist
        SET count = count + #{count},

        WHERE id = #{id}
    </update>

    <!--  归还书籍  -->
    <update id="id_bookOut">
        UPDATE t_borrowlist
        SET count = count - #{count}
        WHERE id = #{id}
    </update>

    <!--  获取借阅历史  -->
    <select id="getBorrowHistory" resultType="entity.BorrrowList">
        SELECT tbl.bookId, tbl.count, tb.bookName
        FROM t_borrowlist tbl JOIN t_book tb
        ON tbl.bookId = tb.bookId
        WHERE readerId = #{readerId}
    </select>

    <!--  判断当前书籍是否可用  -->
    <select id="getBookIsDel">
        SELECT isDel
        FROM t_book
        WHERE bookId = #{bookId}
    </select>

</mapper>